@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /*--background: #191825;*/
  /*--foreground: #191825;*/
  --background-main: background-color #191825;
  font-family: 'Exo 2', sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-weight: 600;
  font-style: normal;
  --gradient-hero: linear-gradient(135deg, hsl(267 84% 64%) 0%, hsl(267 84% 54%) 100%);
  --foreground: 210 40% 95%;
  --card: 248 20% 12%;
  --primary: 267 84% 64%;
  --primary-foreground: 210 40% 98%;
  --border: 248 12% 22%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #191825;*/
    /*--foreground: #191825;*/
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

select {
  /*background: rgba(25, 24, 37, 0); !* 0.8 = 80% непрозрачности *!*/
  color: white;
  padding: 4px 8px;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  /*background-color: #191825;*/
  /*border-radius: 4px;*/
  border: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


