.container {
    max-width: 1200px;
    margin: 0 auto;
}

.welcome__content {
    display: flex;
    /*position: fixed;*/
    flex-direction: column;
    align-items: center;
    /*padding: 140px;*/
    padding-top: 140px;
    padding-bottom: 100px;
    /*color: black;*/
    justify-content: center;
    font-weight: 400;
    background: linear-gradient(135deg, hsl(267 84% 64%) 0%, hsl(267 84% 54%) 100%);
}